#repos {
  display: flex;
  flex-wrap: wrap;
}

#repos .repo {
  padding: 10px 25px;
  background: var(--light);
  border-radius: 6px;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  color: inherit;
}